html{
    font-size:10px;
    font-family:'Oswald', sans-serif;
    background-color: #ff5a1d;
    color:white;
}

body{
    width:600px;
    margin:20px auto;
    background-color: #ff7f50;
    padding: 0 20px 20px 20px;
    border: 3px solid #ff6c37;
}

h1{
    font-size:60px;
    text-align:center;
    letter-spacing:1px;
    margin:0;
    padding:20px 0;
    text-shadow: 3px 3px 5px black;

}

p,ol,ul {
    font-size:20px;
    line-height:20px;
    letter-spacing:1px; 
}

img {
    display:block;
    margin:10px auto;
    

}
#img-div{

}
